
/* GENERAL CSS */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.semaforo {
    width: 150px;
    height: 370px;
    background-color: #2b2a2a;
    border: 6px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}
.semaforo::after {
    content: " ";
    position: absolute;
    top: 0;
    background-color: black;
    width: 15px;
    height: 50vh;
    z-index: -1;
}
.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.red {
    background-color: red;
    filter: drop-shadow(0 0 30px black);
}

.yellow {
    background-color: yellow;
    filter: drop-shadow(0 0 30px black);
}

.green {
    background-color: green;
    filter: drop-shadow(0 0 30px black);
}
.on {
    animation: lightOn 500ms forwards;
}

@keyframes lightOn {

    0%,
    9% {
        filter: drop-shadow(0 0 30px black);
    }

    10%,
    100% {
        filter: drop-shadow(0 0 40px rgb(245, 243, 148));
    }
}